
#content{
    text-align: center;
    padding-top: 15%;
    font-family: 'Public Sans', sans-serif;
    text-shadow: 0px 4px 3px white;
}
h1{
    color: purple;
    font-size: 10em;
    font-weight: 700px;
    font-family: 'Vollkorn', serif;
}
body{
    background-image: url(https://image.shutterstock.com/image-photo/cute-kitten-baby-cat-260nw-781327003.jpg);
    background-position: center;
    background-size: cover;

}
hr{
    width: 100%;
    border-top: 2px solid grey;
}